<mat-card class="mb-3"
          *ngIf="(measurement$ | async) as measurement">
  <mat-card-header>
    <mat-card-title class="align-items-center d-flex">
      <span class="status"
            [ngClass]="{'status--online': isOnline(measurement.timeStamp), 'status--offline': !isOnline(measurement.timeStamp)}"
            *ngIf="!loading"></span>
      {{device.name}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-measurement *ngIf="!loading"
                     [measurement]="measurement"></app-measurement>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button
            [routerLink]="['/dashboard', device.uuid]">DETAILS</button>
  </mat-card-actions>
</mat-card>
