<mat-card class="mb-3">
  <mat-card-header>
    <mat-card-title class="align-items-center d-flex">
      <span class="status"
            *ngIf="hasData"
            [ngClass]="{'status--online': isOnline(), 'status--offline': !isOnline()}"></span>
      {{device.name}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="d-flex justify-content-center"
         *ngIf="!hasData">
      <mat-progress-bar mode="query"></mat-progress-bar>
    </div>
    <app-measurement *ngIf="hasData"
                     [measurement]="measurement"></app-measurement>
  </mat-card-content>
  <mat-card-actions *ngIf="hasData">
    <button mat-button
            [routerLink]="['/dashboard', device.uuid]">DETAILS</button>
  </mat-card-actions>
</mat-card>
