<ngx-charts-line-chart 
  [schemeType]="'ordinal'" 
  [results]="data" 
  [animations]="true" 
  [legend]="true"
  [legendTitle]="'Legend'"
  [gradient]="false"
  [xAxis]="true"
  [yAxis]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxisLabel]="'Time'"
  [yAxisLabel]="'Temperature'"
  [autoScale]="true"
  [xScaleMin]="" 
  [xScaleMax]=""
  [yScaleMin]=""
  [yScaleMax]=""
  [timeline]="false" 
  [showGridLines]="true" 
  [rangeFillOpacity]="0.15"
  [roundDomains]="false" [tooltipDisabled]="false">
</ngx-charts-line-chart>