.status {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
  opacity: 1;

  &--online {
    background: #008000;
  }

  &--offline {
    background: #ff0000;
    animation: 3s ease-in-out infinite fade-in;
  }
}

@keyframes fade-in {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}