[Unit]
Description=Monitoring Receiver

[Service]
WorkingDirectory=/home/pi/projects/monitoring
ExecStart=/usr/bin/python3 receiver.py --url "http://192.168.10.2:5020/api/measurements"
Restart=always 
RestartSec=10
SyslogIdentifier=monitoring-receiver
User=pi

[Install]
WantedBy=multi-user.target
