@import '~bootstrap/scss/bootstrap-grid';

.sidenav-container {
  height: 100%;
}

.mat-toolbar {
  &.mat-primary {
    position: sticky;
    top: 0;
    z-index: 100;
  }
}

@include media-breakpoint-up(xs) {
  .sidenav-panel {
    width: 100% !important;
  }
}

@include media-breakpoint-up(sm) {
  .sidenav-panel {
    width: 30% !important;
  }
}

@include media-breakpoint-up(xl) {
  .sidenav-panel {
    width: 20% !important;
  }
}
