<div class="container mt-5">
  <h1 class="text-center">{{(device$ | async)?.name}}</h1>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <app-measurement *ngIf="(measurement$|async) as measurement"
                       [measurement]="measurement"></app-measurement>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <app-measurements class="col-12 d-block"
                        [measurements]="measurements$|async"></app-measurements>
    </div>
  </div>
</div>
