<div class="container mt-5">
  <h1 class="text-center">{{(device$ | async)?.name}}</h1>
  <div class="row">
    <div class="col d-flex flex-column align-items-center"
         *ngIf="(measurement$ | async) as measurement;else loading">
      <div class="last-update">
        <span class="last-update__label pr-1">Last Update:</span>
        <span>{{measurement.timeStamp|date:'medium'}}</span>
      </div>
      <app-measurement [measurement]="measurement"></app-measurement>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-measurements class="col-12 d-lg-block d-sm-none"
                        *ngIf="(measurements$|async) as measurements"
                        [measurements]="measurements"></app-measurements>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="col d-flex justify-content-center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
